<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!--
        Award loyalty points after the order is placed
        and deduct the used wallet amount.
    -->
    <event name="sales_order_place_after">

        <observer name="Codilar_loyalty_award_points"
                  instance="Codilar\LoyaltyWallet\Observer\AwardPointsOnOrderPlace"/>

        <observer name="codilar_wallet_deduct_on_order"
                  instance="Codilar\LoyaltyWallet\Observer\DeductWalletOnOrderPlace"/>
        <observer name="codilar_send_code_based_loyalty_email" instance="Codilar\LoyaltyWallet\Observer\SendCodeBasedLoyaltyEmail"/>

    </event>

    <!-- Reverse loyalty points when order is cancelled -->
    <event name="order_cancel_after">
        <observer name="codilar_loyalty_reverse_points"
                  instance="Codilar\LoyaltyWallet\Observer\ReverseLoyaltyPointsOnCancel"/>
    </event>

    <!--
        Copy wallet amount from quote to sales_order
        before quote is converted into order.
    -->
    <event name="sales_model_service_quote_submit_before">
        <observer name="codilar_wallet_transfer_to_order"
                  instance="Codilar\LoyaltyWallet\Observer\TransferWalletAmountToOrder"/>
    </event>

</config>
