<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:event/etc/events.xsd">
    <event name="checkout_cart_product_add_before">
        <observer name="codilar_restrict_quantity_add" instance="Codilar\ProductRestriction\Observer\CheckProductQuantity"/>
    </event>
    <event name="sales_quote_collect_totals_after">
        <observer name="codilar_restrict_cart_totals" instance="Codilar\ProductRestriction\Observer\CheckCartQuantity"/>
    </event>
</config>
